# base scientific libraries
numpy==1.19.2
pandas==1.3.4
haversine==2.5.1
xarray==0.20.1

# plotting libraries
matplotlib==3.5.0

# machine learning
scikit-learn==1.0.1
tensorflow==2.6.0

# google drive
gdown==4.2.0

# others
requests==2.26.0
